@import '~bootstrap/scss/bootstrap';

#root {
  overflow: hidden;
}

body {
  background-color: rgba(255, 88, 100, 1);
}

.searchbar {
  margin: 15px 0;
}

Button {
  margin-top: 10px;
}

.navbar-dark {
  background-color: rgba(66, 66, 66, 1);
}

#card-img {
  width: 60%;
  height: auto;
}

.left-side {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  word-wrap: break-word;
}

.right-side {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  word-wrap: break-word;
}

.must-choose {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  word-wrap: break-word;
}

.buttons-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin: auto;
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.carddiv {
  position: relative;
  text-align: center;
  color: black;
}

.button-centered {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tindercard {
  position: absolute;
  resize-mode: cover;
}